* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.navbar{
  display: flex;
  position:relative;
  width: 100vw;
  background: lightgray;
  min-height: 7vh;
  justify-content: space-around;
  align-items:center;
  font-size: 2vmin;
}

.category-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.category-card, .post-card {
  margin: 4vh;
  color: #F0F8FF;
}

.home, .home div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: #F0F8FF;
}

nav.borderXwidth a:before, nav.borderXwidth a:after
{
  position: absolute;
  opacity: 0;
  width: 0%;
  height: 2px;
  content: '';
  background: rgb(35, 32, 32);
  transition: all 0.3s;
}

nav.borderXwidth a:before
{
  left: 0px;
  top: 0px;
}

nav.borderXwidth a:after
{
  right: 0px;
  bottom: 0px;
}

nav.borderXwidth a:hover:before, nav.borderXwidth a:hover:after
{
  opacity: 1;
  width: 100%;
}

nav.borderXwidth a {
  -webkit-box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0,0,0,0);
}
main {
  min-height: 93vh;
  /* background-attachment:fixed; */
  /* bottom: 0; */
  background: #140204;
  background: -moz-linear-gradient(45deg, #140204 0%, #3B060D 50%, #949DA1 100%);
  background: -webkit-linear-gradient(45deg, #140204 0%, #3B060D 50%, #949DA1 100%);
  background: linear-gradient(45deg, #140204 0%, #3B060D 50%, #949DA1 100%);
}

.postImg {
  max-width: 300px;
  max-height: 300px;
}

.post-background {
  padding-bottom: 10px;
}

#editPost {
  color: #F0F8FF;
}

.addPost {
  color: #F0F8FF;
}

